{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Tasks Scheduler</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap" rel="stylesheet">
    <script src="{% static 'javascript/script.js' %}"></script>
</head>

<body>
    <main>
        <h1>Tasks</h1>
        {% if tasks %}

            {% if tasks|length == 1 %}
                <h2>You have only 1 task:</h2>
            {% else %}
                <h2>You have total {{ tasks|length }} tasks:</h2>
            {% endif %}
                <form class="filter-form" action="/" method="get">
                    <input
                            type="text"
                            name="title_filter"
                            value="{{ title_filter }}"
                            placeholder="Enter task name"
                    />
                    <input
                            type="text"
                            name="contents_filter"
                            value="{{ contents_filter }}"
                            placeholder="Enter task description"
                    />
                    <label id="completed-label" for="completed">Is it completed?</label>
                        <select id="completed" name="completed_filter">
                          <option value="Select"></option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                    <button>Filter</button>
                </form>

            <ul>
                {% for task in tasks %}
                <li>
                    <form method="post" action="{% url 'complete_task' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                            <h3>{{ task.name }}</h3>
                            <p class="description">{{ task.description }}</p>
                            <p class="is_completed">Completed: {{ task.is_completed }}</p>
                            {% if task.is_completed %}
                                <button class="no-button"></button>
                            {% else %}
                                <button class="complete_task" type="submit">Complete Task</button>
                            {% endif %}
                    </form>
                    <form method="post" action="{% url 'delete_task' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <button class="delete_task" type="submit">Delete Task</button>
                    </form>
                </li>
                {% endfor %}
            </ul>

        {% else %}
            <p class="no-tasks">No tasks available!</p>
        {% endif %}

        <div id="bottom-links">
            <button id="new_task">Add New Task</button>
            <a href="{% url 'index' %}">Home</a>
        </div>

        <form id="new-task-form" method="POST" action="{% url 'index' %}">
            <fieldset>
                {% csrf_token %}
                {{ form }}
                <button type="submit">Create New Task</button>
            </fieldset>
        </form>
    </main>

</body>
</html>